<footer>
  <div>
    <h4>GYMFIT</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
      illo ad quo sunt maiores, sint nostrum omnis eaque cumque dolorum.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div>
    <h4>RECENTS POSTS</h4>
    <div>
      <a href="#">Claritas est etiam processus dynamicus</a>
      <data>30 february 2019 </data>
    </div>
    <div>
      <a href="#">Claritas est etiam processus dynamicus</a>
      <data>30 february 2019 </data>
    </div>
  </div>
  <div id="links">
    <h4>QUICK LINKS</h4>
    <ul>
      <li><a href=""><img src="../../../assets/icons/angles-right-solid.svg" alt="">About Us</a></li>
      <li><a href=""><img src="../../../assets/icons/angles-right-solid.svg" alt="">Services</a></li>
      <li><a href=""><img src="../../../assets/icons/angles-right-solid.svg" alt="">Membership</a></li>
      <li><a href=""><img src="../../../assets/icons/angles-right-solid.svg" alt="">Courses</a></li>
      <li><a href=""><img src="../../../assets/icons/angles-right-solid.svg" alt="">Contact us</a></li>
    </ul>
  </div>
  <div>
    <h4>HOME LOCATION</h4>
    <address>Washington 6036 Richmond hwy., Alexandria, VA USA 22303</address>
    <a href="tel:+1 (409) 987–5874">+1 (409) 987–5874"</a>
    <a href="mailto:info@testelink.org">Contact</a>
  </div>
</footer>
