<nav>
  <a href="https://themefisher.com/products/gymfit-bootstrap" target="_blank">
    Gym<span>Fit</span>
  </a>
  <ul>
    <li><a href="home">HOME</a></li>
    <li><a href="services">PAGES</a></li>
    <li><a href="services">SERVICES</a></li>
    <li><a href="home">MEMBERSHIP</a></li>
    <li><a href="home">BLOG</a></li>
    <li><a href="services">CONTACT</a></li>
  </ul>
  <span id="number_contact"
    ><img src="../../../assets/icons/mobile-screen-button-solid.svg" alt="" />
    +23-563-5688</span
  >
</nav>
