<article>
  <img src="../../../assets/images/bg/bg-5.jpg" alt="" />
  <div>
    <h3>
      WEVE SKILL IN WIDE <strong>RANGE OF FITNESS</strong> AND OTHER BODY HEALTH
      FACILITY.
    </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor. Aenean massa. Cum sociis Theme natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus. Aliquam lorem ante,
      dapibus in.
    </p>
    <div>
      <button>LEARN MORE</button>
    </div>
  </div>
</article>
