<header>
  <app-navbar />
</header>
<main>
  <app-cardservice
    img="../../../assets/icons/dumbbell-solid.svg"
    title="WEIGHT LIFTING"
    content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, molestias."
  />
  <app-cardservice
    img="../../../assets/icons/person-biking-solid.svg"
    title="CYCLING"
    content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, molestias."
  />
  <app-cardservice
    img="../../../assets/icons/heart-regular.svg"
    title="YOGA MEDIDATION"
    content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, molestias."
  />
  <app-cardservice
    img="../../../assets/icons/medal-solid.svg"
    title="BUILDING BODY"
    content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, molestias."
  />
  <app-cardservice
    img="../../../assets/icons/person-swimming-solid.svg"
    title="FITNESS TRACK"
    content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, molestias."
  />
  <app-cardservice
    img="../../../assets/icons/person-running-solid.svg"
    title="FITNESS"
    content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, molestias."
  />
</main>
<app-footer />
