<app-header />
<main>
  <div class="cards">
    <app-card title="MODERN EQUIPMENT" numberCard="01" content="Tempore ad assumenda quidem officiis placeat iure, optio amet totam odio." />
    <app-card title="PROFFESIONAL TRAINER" numberCard="02" content="Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius." />
    <app-card title="HEALTHY DIET PLAN" numberCard="03"content="Lorem ipsum dolor sit amet consectetur, adipisicing elit sit amet consectetur" />
  </div>
  <div>
    <app-testimonial />
  </div>
  <app-footer />
</main>
